@font-face {
    font-family: 'MaSuperPolice';
    src: url('Poppins-Regular.ttf');
}


.page__cart{
    font-family: 'MaSuperPolice';
    .cart{
        border: 2px solid #F1B825 ;
        //border-collapse: collapse;
        thead{
           
            th{
                margin: 5px;
                padding: 5px;
                vertical-align: top;
            }
        }
        tbody{
           
            margin-top: 5%;
            th{
                margin: 5px;
                padding: 5px;
                vertical-align: top;
            }
        }
    }
}

table, th, td {
    border:1px solid #F1B825;
  }
