@font-face {
    font-family: 'MaSuperPolice';
    src: url('Poppins-Regular.ttf');
}


.page__cart{
    font-family: 'MaSuperPolice';
    .cart{
        border: 2px solid #F1B825 ;
        thead{
            border: 2px solid black ;
            th{
                margin: 5px;
                padding: 5px;
                border: 2px solid black ;
            }
        }
        tbody{
            border: 2px solid black ;
            margin-top: 5%;
            th{
                margin: 5px;
                padding: 5px;
                border: 2px solid black ;
            }
        }
    }
}