*{
    box-sizing: border-box;
}
@font-face {
    font-family: 'MaSuperPolice';
    src: url('Poppins-Regular.ttf');
}

.head__bar{
    width: 100%;
    background-color: #d9d9d952; 
    display: flex;
    padding: 5px;
    justify-content: space-between;
    font-family: "MaSuperPolice";
}


.shopbag{
    height: 25px;
    width: auto;
    border-radius: 20px;
}


.search__box{
    input{
        margin: 5px;
        font-family: 'MaSuperPolice';
        padding: 10px 5px;
        transition: 0.3s all;
        border: 2px solid #F1B825;
    }
    
}

.shop__section{
    margin: 5px;
    font-family: 'MaSuperPolice';
    display: flex;
}


.shop__menu{
    margin: 10px;
}
.cat__item{
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
}

.shop__article{
    width: 100%;
    align-items: center;
}



.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


.art{
    background-color: bisque;
    margin-bottom: 20px;
    padding: 20px;
    max-width: 340px;
}
.art__img{
    max-width: 300px;
    height: auto;
}

.art__title{
    margin-top: 10px;
}



.art__footer{
    display: flex;
    justify-content: space-between;
}